<h1>My Todo's</h1>
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Description</th>
                <th>Target Date</th>
                <th>is Completed?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of todos">
                <td>{{item.id}}</td>
                <td>{{item.description}}</td>
                <td>{{item.targetDate | date | uppercase}}</td>
            <td>{{item.done}}</td>

        </tr>
    </tbody>
</table>
</div>